*{
    margin: 0;
    box-sizing: border-box;
}
#login{
    background: url('page.jpg');
    opacity: 0.7;
    background-repeat: no-repeat;

    background-size: cover;
}

#navbar{
  background: rgba(0,0,0,0.5);
}

li{
    float: right;
    list-style-type: none;
    padding:60px 35px 10px;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 90%

}

#form{
  margin: 10% 40%;
}

form input{
  width: 300px;
  height: 50px;
  padding: 5px 20px;
}

form select{
  width: 300px;
  height: 50px;
  padding: 5px 20px;
}

form button{
  width: 300px;
  height: 50px;
  border: none;
}

#form h3{
  font-size: 40px;
  font: euphemia;
  text-align: center;
  color: white;
}